.App {
  text-align: center;
  padding: 30px;
}

::placeholder {
  color: #454444;
}

button {
    color: #454444;
    border: none;
    background-color: #ebebeb;
    box-shadow: -4px -4px 8px #fff, 4px 4px 8px rgb(0 0 0 / 36%);
}

button:active {
  /*ãƒœã‚¿ãƒ³ã‚’æŠ¼ã—ãŸã¨ã*/
  -webkit-transform: translateY(4px);
  transform: translateY(2px);/*ä¸‹ã«å‹•ã*/
  border-bottom: none;/*ç·šã‚’æ¶ˆã™*/
}

ul {
  list-style: none;
}

.array {
  text-align: left;
  width: 500px;
  position: fixed;
  top: 60px;
  left: 100px;
  font-size: 14px;
}